html {
    padding: 3rem 1.5rem;
    font-family: sans-serif;
}


/*** header **/

header {
    padding-bottom: 0.5rem;
    border-bottom: solid 5px rgb(148, 180, 5);
}

.section1 {
    display: flex;
    justify-content: space-between;
}

.center-side {
    text-align: center;
    margin-bottom: 1rem;
    flex: 1;
}

.section1 .side span {
    font-size: 1.3rem;
    font-weight: 700;
    display: block;
    margin-top: 0.5rem;
    font-style: italic;
}

.center-side img {
    width: 20%;
}

@media print {
    .center-side img {
        width: 35%;
    }
}

.section2 .header-title {
    font-weight: 600;
    color: green;
    font-size: 1.1rem;
    display: block;
    text-align: center;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

@media print {
    .section2 .header-title {
        max-width: 80%;
    }
}

.section2 .header-title2 {
    font-weight: 600;
    font-size: 1.6rem;
    display: block;
    text-align: center;
}

.container-logo2-twin {
    text-align: center;
}

.container-logo2-twin img {
    width: 65%;
}

.container-address {
    text-align: center;
    font-size: 1rem;
}

.container-address .inline span {
    margin-left: 1rem;
}

a.email {
    margin-left: 0.1rem;
}

@media print {
    .container-address span,
    a.email {
        font-size: 0.75rem !important;
    }
    .container-address .inline span {
        margin-left: 0rem;
    }
}


/***** Main ***/

.body {
    min-height: 53vh;
    position: relative;
}

@media print {
    .body {
        min-height: 53vh;
        position: relative;
    }
}

.body:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image: url('/assets/logo.jpg');
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 88%;
}


/***** Pre Footer *****/

.pre-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.pre-footer .director p {
    margin: 0.1rem 0;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: left;
}

.pre-footer img {
    width: 6%;
    height: 6%;
}

.pre-footer .version {
    font-size: 0.7rem;
    line-height: 0.8rem;
}


/**** Footer *****/

footer {
    padding-top: 0.5rem;
    border-top: solid 5px rgb(148, 180, 5);
}

footer img {
    width: 100%;
}

strong {
    font-weight: 700;
}